#a{
    padding-top: 7%;
    padding-left: 30%;
    padding-right: 30%;
    background: white;
}
fieldset{
    border: solid #01519a !important;
}
legend{
    text-align: center;
    font-size: 30px;
    color: black;
}